PORT=5000
MONGODB_URI=https://expense-tracker-frontend-xgou-38ac5vler.vercel.app
JWT_ACCESS_SECRET=your_access_secret_key_here
JWT_REFRESH_SECRET=your_refresh_secret_key_here
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
NODE_ENV=development
CORS_ORIGIN=https://expense-tracker-frontend-xgou-38ac5vler.vercel.app
